<!DOCTYPE html>
<html>
    <head>
        <title>Rst2Html stand van zaken overzicht</title>
    </head>
    <body style="background-color: #C6E2FF; color: #3a5fcd">
      <main>
        <a href="/loadconf/?settings={sitename}">
          <button accesskey="b">
            <span style="text-decoration:underline">B</span>ack to editor</button></a>
	<a href="/overview/?order={out}">
	  <button accesskey="o">
	    <span style="text-decoration:underline">O</span>rder by {out}</button></a>
	<a href="/copystand/?order={oldout}">
	    <button accesskey="c">
	        <span style="text-decoration:underline">C</span>opy to file</button></a>
	<div id="message">
		<p><strong>{message}</strong></p>
	</div>
	{% if data %}
        <table summary="overzicht">
            <thead>
            <tr>
                <th>pagina</th>
                <th>source</th>
                <th>target</th>
                <th>mirror</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                <td>{row.0}</td>
                <td>{row.1}</td>
                <td>{row.2}</td>
                <td>{row.3}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
	{% else %}
        <div><span style="color: blue; text-decoration: bold;">No data to report&nbsp;</span><div/>
	{% endif %}
      </main>
    </body>
</html>
