body { background-color: #C6E2FF; color: #3a5fcd; }
.container-full { }
.table-full > .row-full { display: inline; float:left; }
.table-full > .clear { display: inline; clear: both; }
.table-full .row-full .table-full { display: inline; }
.table-full .row-full .table-full .table-column { float:left; }
.table-full .row-full .table-full .row-full { float: left; }
.table-full .row-full .table-full .clear { clear: both; }
.table-full > .table-column:first-of-type { display: inline; float:left;  }
.table-full > .table-column:not(:first_of_type) { display: inline; float:left; padding: 5px; }
.table-full .table-column .table-full { display: inline; }
.table-full .table-column .table-full .row-full { display: inline; float:left; }
.table-full .table-column .table-full .table-column { display: inline; float:left; }
.table-full .table-column .table-full .clear { display: inline; clear:both; }
span .small-indent { padding-left: 10px; }
span .no-indent { width: 200px; }
span .big-indent { padding-left: 100px; }
#rstdata { display: inline; }
.label-search { width: 200px; }
